<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/infra3dapi.js') }}" id="infra3dapi"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
    </head>
    <body>
        <div id="infra3d"></div>
    </body>
</html>