* {
   margin: 0;
   padding: 0;
}

body {
   font: 50% "Trebuchet MS",sans-serif;
   position : absolute;
   width : 100%;
   height : 100%;
   overflow:hidden;
}

#infra3d {
   position: absolute;
   background-color: #ffffff;
   overflow: hidden;
   border: none;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
}
